<main>
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center">
          <h1 class="mb-3 mb-lg-4 h1 animated fadeInUp">Authenticity Solutions</h1>
          <p class="lead mb-4 animated fadeInUp">RAIDAtech has invented a new authentication protocol using post-blockchain technology called RAIDA (Redundant Array of Independent Detection Agents). RAIDA has data-supremacy like blockchain, meaning it cannot be brought down, controlled or manipulated. Yet RAIDA is faster, more secure, totally private, more energy efficient, quantum-safe and is scalable to the entire world's population. RAIDA was modeled after the DNS system, used daily by nearly every person on the planet and without disruption since 1985. RAIDA does what blockchain just can't do. It is a provisionally patented, next-generation counterfeit detection system on a global scale.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">About RAIDAtech</h2>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4">RAIDAtech has exclusive license to develop applications for the provisionally-patented RAIDA technology, a quantum-safe, self-healing, simple, fast and reliable global system for counterfeit detection and authentication.  RAIDAtech is a research, technology and Solutions with Services (SwS) company with several core products/services, applications in development and applications in beta.</p>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.6">The company was formed in July 2018, completed its first round of investor funding in November, and became profitable by December. RAIDA technology brings authentication to another dimension and delivers a vast number of new applications.</p>
        </div>
      </div>
      <div class="row counter">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
          <strong class="animation number" data-number="23000">23,000</strong>
          <p>times faster than blockchain. Capable of at least 160,000 transactions per second. RAIDA grows more efficient as the network grows, while blockchain bogs down & is not scalable.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
          <strong>3e+<span class="animation number" data-number="21">21</span></strong>
          <p>Three-sextillion times stronger security than cryptography. RAIDA simply cannot be hacked.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
          <strong class="animation number" data-number="41000">41,000</strong>
          <p>times more energy efficient than blockchain. Affordable for users and good for the environment.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="solutions">
    <div class="container">
      <div class="row">
        <div class="preamble col-lg-8 offset-lg-2">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">RAIDAtech Solutions</h2>
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.4s">RAIDAtech is developing a wide range of applications for RAIDA technology including secure cloud-based solutions for personal communications, financial services, information technology, business operations, education, healthcare and other fields.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <%= image_tag("token.png") %>
          <h6>Security Tokenization</h6>
          <p>Tokenizing ownership with a simple, compliant platform to generate investment and enhance liquidity. <%= link_to "Learn More...", solutions_digital_securities_path %></p>
        </div>
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.8s">
          <%= image_tag("fingerprint.svg") %>
          <h6>Goods Anti-Counterfeiting</h6>
          <p>Providing the best, most affordable authentication technology available for consumables & physical goods. <%= link_to "Learn More...", solutions_consumables_path %></p>
        </div>
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.7s">
          <%= image_tag("card.svg") %>
          <h6>Collectible Anti-Counterfeiting</h6>
          <p>Stopping counterfeiters with patented technology that protects collectibles & makes trading better. <%= link_to "Learn More...", solutions_collectibles_path %></p>
        </div>
      </div>
      <div class="row">
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <%= image_tag("money2.svg") %>
          <h6>Digital Cash</h6>
          <p>Utilizing proprietary technology to create superior digital currencies that are scalable, fast & secure. <%= link_to "Learn More...", solutions_digital_cash_path %></p>
        </div>        
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.9s">
          <%= image_tag("c.svg") %>
          <h6>Digital Rights Management</h6>
          <p>Pioneering information and control routing strategies with AI applications.</p>
        </div>
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
          <%= image_tag("money.svg") %>
          <h6>Secure Financial Transactions</h6>
          <p>Creating new, more secure means of trading, protecting and utilizing financial assets.</p>
        </div>
      </div>
      <div class="row">     
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
          <%= image_tag("hospital-buildings.svg") %>
          <h6>Privacy For Medical & Consumer Records</h6>
          <p>Protecting personal privacy while allowing better transmission of information.</p>
        </div>
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
          <%= image_tag("correspondence.svg") %>
          <h6>Email, Chat & Text</h6>
          <p>Enabling secure & private communications.</p>
        </div>
        <div class="service col-lg-4 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="1s">
          <%= image_tag("video-player.svg") %>
          <h6>Video & Conferencing</h6>
          <p>Empowering encrypted, secure video storage and transmission.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">Our Team</h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="person col-lg-12 col-md-12 col-sm-12 text-center">
          <%= image_tag("sean_worthington.jpg", class: "animation", "data-animation" => "zoomIn", "data-animation-delay" => "0.5s") %>
          <h6 class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Sean Worthington</h6>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.7s">Founder and CEO</p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">Sean Worthington is a computer science professor turned philosopher, inventor and author. He has created the <em class="font-weight-bold">Informational Theory of Perfect Money</em> and developed the world’s first discrete digital cash that does not require public ledgers or user accounts. His startup company RAIDAtech developed a proof-of-concept currency called <em class="font-weight-bold">CloudCoin</em>. CloudCoin is 40,000 times more energy efficient than blockchain-based currencies, quantum safe, and scalable. Worthington hopes to license his technology to central banks because it is the best possible currency that will save hundreds of billions in costs associated with physical cash. Learn more at <a href="http://seanworthington.com/">http://seanworthington.com</a>
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="person col-lg-3 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <%= image_tag("ace.jpg") %>
          <h6>Ace Fogerson</h6>
          <p>Business Administration</p>
          <p>Manages HR, Accounts Payable, Accounts Receivable and Legal</p>
        </div>
        <div class="person col-lg-3 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <%= image_tag("serg.jpg") %>
          <h6>Sergiy Chernyshov</h6>
          <p>VP Development</p>
          <p>Manages automated testing, QA and Client Development</p>
        </div>
        <div class="person col-lg-3 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <%= image_tag("pramod-krishna.jpg") %>
          <h6>Pramod Krishna</h6>
          <p>Resident Representative</p>
          <p>One of many field reps who provide world class service. <a href="http://www.pramodkrishna.in/">More</a></p>
        </div>
        <div class="person col-lg-3 col-md-6 col-sm-6 text-center animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <%= image_tag("yoshi.jpg") %>
          <h6>Yoshikazu Noda</h6>
          <p>Server Developer</p>
          <p>One of four developers who created the server-side software.</p>
        </div>
      </div>
    </div>
  </section>
</main>