<main>
  <section id="customer-engagement" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">The 3-in-1 Solution</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="animation title" data-animation="fadeInUp" data-animation-delay="0.2s">Customer Engagement / Immersion <span class="sub">with bonus Eco-Friendly Anti-Counterfeiting <br> using RAIDAtech Virtual Currency</span></h3>
          <ul class="problems-list">
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
              <div class="icon-container">
                <span class="gradient">
                  <%= image_tag("customer_engagement.png") %>
                </span>

              </div>
              Customer Engagement</li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
              <div class="icon-container">
                <span class="gradient">
                  <%= image_tag("fingerprint.svg") %>
                </span>

              </div>
              Anti-Counterfeiting/ Authentication</li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
              <div class="icon-container">
                <span class="gradient">
                  <%= image_tag("earth.png") %>
                </span>

              </div>
              Environmental Stewardship</li>
          </ul>
          <p>These apparently disparate challenges represent a fundamental challenge that every brand needs to consider - managing customer perception and using those perceptions to drive customer engagement.</p>
        </div>
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->

    <div class="challenges">
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="text-center title">Challenges</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <ul class="challenges-list lead-xl">
                <li><b>Engagement:</b> How can brands get millennials to tune in, interact, become part of their customer family and extend that engagement for a lifetime?</li>
                <li><b>Stewardship:</b> How can brands reduce their carbon footprint and attract customers concerned about sustainability?</li>
                <li><b>Security:</b> How can brands stop counterfeiting of brand products using authentication technologies at an affordable price?</li>
              </ul>
            </div>
            <div class="col-lg-4 d-flex flex-column justify-content-center">
              <%= image_tag("challenge.png", class: "challenges-image") %>
            </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
    </div>
    <!-- .challenges -->

    <div class="solution">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="title mt-4">The Solution: RAIDAtech Virtual Currency Technology</h3>
            <p>RAIDAtech Virtual Currency Technology leverages many benefits of blockchain technology, without blockchain's limitations.  It derives its integrity from the redundancy of the Cloud - not simply encryption - that you can use to drive immersive customer engagement.</p>
            <p>RAIDAtech Virtual Currency Technology can be used to authenticate valid brand products in a manner that is environmentally sustainable, but that's just an added side-bonus!</p>
            <p>The game-changer is allowing brands innovative ways to engage with the key demographics brands by issuing digital cash, game pieces, collectibles (such as music and images), or even stocks and bonds on or within products or packaging.</p>
            <p>RAIDA is the Redundant Array of Independent Detection Agents, a provisionally patented way to deliver blockchain benefits while avoiding its pitfalls. RAIDA is based on protocols successfully operating for over 40 years.</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-12 d-flex flex-column justify-content-center">
            <h5>Interactive Customer Engagement/Immersion</h5>
            <%= image_tag("ci.png") %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

            <p class="mt-4">Benefits are:</p>
            <ul class="benifits-list">
              <li>RAIDA shares blockchain benefits: Cannot be brought down, controlled or manipulated.</li>
              <li>RAIDA eliminates blockchain limitations: Faster, more secure, energy efficient, quantum-safe and globally scalable.</li>
              <li>RAIDA currency cannot be lost, so it is possible to retrieve value that brands put on/in packaging/products if not used.</li>
              <li>RAIDA currencies do not require user accounts and do not track transaction on a public ledger.</li>
              <li>RAIDA currencies are 100% private and very easy to use and understand.</li>

            </ul>

            <p>RAIDAtech's innovative yet easy-to-implement solutions tackle a host of problems facing brand owners in a compelling way while offering anti-counterfeiting measures as a bonus. The currency's brand owner (or its customers), moreover, can derive profit from the virtual currency's value as its distribution and use increases.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- .solution -->

    <div class="brand">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="title">Benefits to brand</h3>

            <ul class="benifits-list">
              <li>The brand (or packaging supplier) embeds the virtual currency on its packaging/products.</li>
              <li>Customers that purchase the product receive the virtual currency with the purchase.</li>
              <li>Customers use the virtual currency to validate the authenticity of the product.</li>
              <li>The currency provides financial incentives for the customer to authenticate the product via the brand web site or apps.</li>
              <li>Customers now know the product is authentic.</li>
              <li>This process triggers a customer engagement process that can include additional customer engagement such as loyalty programs, games, collectibles, etc.</li>
              <li>Customers have financial incentives to receive the currency and engage with the brand.</li>
              <li>In addition to driving "eyes on the brand", customers can redeem the currency or hold it as it goes up in value.</li>
              <li>Brands can setup a rewards system that accepts the currency it places on its products.</li>
              <li>Other people can use this currency anywhere else, making it more valuable. People will buy more of the brand's products so they can use the currency to buy other items.</li>
            </ul>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <%= image_tag("wine-bottle.jpg", class: "wine-bottle-image") %>
          </div>
        </div>
      </div>
    </div>
    <!-- .brand -->

    <div class="additional-engagement">
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
              <%= image_tag("business-people-agreement.jpg") %>
            </div>
            <div class="col-lg-6">
              <h3 class="title">Additional Engagement</h3>
              <ul>
                <li>The currency can increase in value because it has a fixed supply in the market. Customers will track the price and treat it like an investment, all the while being "invested" in the brand. The engagement model is enhanced as the customer
                  engages with the brand and products daily by looking at the trading price of the brand's currency.</li>
                <li>Brand stores or its retailer can sell exclusive goods thats available to engaged customers.</li>
                <li>Customers can earn status in loyalty programs by purchasing collateral products that psychologically connect them to the brand.</li>
                <li>Customers can join loyalty groups, subscribe to newsletters, engage with each other on social media or in virtual space (branded virtual reality events).</li>
                <li>Customers can trade brand currency without the brand needing to be responsible for its creation or administration.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .additional-engagement -->

    <div class="commercial">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="title">Expanding Commercial Use to Extend the Commercial Relationship</h3>
            <p>Here are some other compelling ways that RAIDA Virtual Currency Technology can be used:</p>
            <ul>
              <li>The brand (using RAIDA technology) can create digital collectibles - jpg images and MP3 music that can be owned by the customer. These items can be attached to the digital currency and the customer can download them from the brand's web
                site. The brand can sell those collectibles or use to incentivize purchases.</li>
              <li>Gamification: The brand can issue conduct unique games and contests, such as bingo cards, that would prompts engagement with the brand while the brand is assured the game pieces or coupons cannot be counterfeited.</li>
              <li>Customers can use the brand's digital currency like an ID card that allows them to visit the brand's virtual worlds and interact with other fans. It's like being at a bar in your home. There could be celebrity there performing and meeting
                with people.</li>
            </ul>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <%= image_tag("vr.jpg") %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>RAIDAtech can create the brand's virtual currency, the online stores for sales, the websites, the virtual spaces, the celebrity digital collectibles and more as a service. Anti-counterfeiting is a bonus feature at no additional cost.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- .commercial -->
  </section>
</main>