<main>
  <section id="packaging" class="ps">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <h2 class="title animated fadeInUp">Guaranteed Authentication Packaging Solutions</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 lead">
          <div class="check-list-container animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <ul class="check-list fa-ul">
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Fail-safe anti-counterfeiting solutions</li>
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Simple and affordable</li>
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Protects your brand, trust and recognition</li>
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Smart Packaging/AIP</li>
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Real-time end-to-end supply chain management (track & trace)</li>
              <li><span class="fa-li" ><i class="fas fa-check"></i></span>Bespoke solutions for each client</li>
            </ul>
          </div>
          
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            The marketplace is flooded with innovative and creative anti-counterfeiting and authentication solutions, but most have the same fundamental weakness - authentication data must stored somewhere and must be transmitted between two or more points by secure means. There is no full-proof way to guarantee authentication without secure data storage and transfer. Counterfeiters can and will hack into online/cloud databases and blockchains. 
          </p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            That's where RAIDAtech's provisionally patented technology provides a superior solution. 
          </p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            RAIDA is the next-generation of data transfer and authentication, providing <b>the only 100% safe and secure data transfer protocol.</b> It simply cannot be hacked, intercepted, compromised or manipulated, even by quantum computers. RAIDAtech provides real-time transfers at the fastest possible speeds while safeguarding information and respecting the environment. 
          </p>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Applications</h3>
          <ul class="application-list animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <li><%= image_tag("packaging.png") %><span>Packaging</span></li>
            <li><%= image_tag("wine.png") %><span>Wines and spirits</span></li>
            <li><%= image_tag("food.png") %><span>Food and beverage</span></li>
            <li><%= image_tag("pill.png") %><span>Pharmaceuticals</span></li>
            <li><%= image_tag("medical.png") %><span>Medical Devices</span></li>
            <li><%= image_tag("cosmetics.png") %><span>Cosmetics</span></li>
            <li><%= image_tag("raw.png") %><span>Raw materials</span></li>
            <li><%= image_tag("auto.png") %><span>Auto Parts</span></li>
            <li><%= image_tag("shoes.png") %><span>Luxury/designer goods</span></li>
          </ul>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">What is RAIDA?</h3>

          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Each RAIDA (Redundant Array of Independent Detection Agents) network is a series of autonomous nodes that authenticates data using provisionally-patented protocols exclusively licensed to RAIDAtech. RAIDA is simple, fast, cost-effective, eco-friendly, scalable and offers security three-sextillion times (3e+21) stronger than standard encryption.</p>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">RAIDAtech Solutions</h3>

          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <li>100% demonstrated authenticity</li>
            <li>Most affordable per item cost</li>
            <li>End-to-end traceability options</li>
            <li>Easy to use and implement (no special equipment or production costs)</li>
            <li>Can provide real-time data for analytics and customer-engagement/loyalty</li>
            <li>Inimitability</li>
            <li>Tamper-evident</li>
            <li>Full technical support </li>
          </ul>

          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Technology Options</h3>

          <ul class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <li>Printed alphanumeric codes/ barcodes/ QR codes (overt or covert)</li>
            <li>Radio Frequency Identification (RFID) chips</li>
            <li>Bluetooth Low Energy (BLE) chps</li>
            <li>Near Field Communications (NFC) chips</li>
          </ul>

          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">For more information contact Sean Worthington <a href="mailto:solutions@raidatech.com">solutions@raidatech.com</a></p>
        </div>
      </div>
    </div>
  </section>
</main>